<div class="container">
<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fit, alt:"cocktail image" %>
<% end %>
  <h1> <%= @cocktail.name %> </h1>
  <p>Ingredients</p>
  <table>
      <% @cocktail.doses.each do |dose|%>
      <tr>
        <td><%= "#{dose.description} #{dose.ingredient.name}"%></td>
        <td><%= link_to 'Delete', cocktail_dose_path(dose), method: :delete, data: { confirm: 'Sure?'} %></td>
      </tr>
      
      <% end %>
  </table>
      <br>
      <%= link_to "Add Ingredients", new_cocktail_dose_path(@cocktail)%>
      <%= link_to "Back to Cocktails", cocktails_path %>
</div>
